.montonio-button {
    font-size: 13px;
    letter-spacing: 0;
    display: inline-block;
    background: #260071;
    color: #fff !important;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    box-shadow: 0px 1px 2px 0px rgba(15, 26, 42, 0.08);

    &:hover {
        background-color: #5c14eb;
        color: #fff !important;
    }

    &:active {
        background: #1b0547;
    }

    &:focus {
        background: #260071;
        outline: none;
    }

    &:disabled,
    &[disabled] {
        background-color: #F8F6F4;
        color: #94A3B8 !important;
    }

    &--secondary {
        background: #fff;
        padding: 7px 11px;
        color: #3C3C3C !important;
        border: 1px solid #ADADB0;

        &.button--sm {
            padding: 3px 11px;
        }

        &.button--lg {
            padding: 11px 23px;
        }

        &:hover {
            background: #fff;
            border-color: #94A3B8;
            color: #3C3C3C !important;
        }

        &:active,
        &.button--active {
            background: #fff;
            border-color: #260071;
            color: #260071 !important;
            box-shadow: none;
        }
    }
}


.montonio-logo {
    max-width: 150px;
    margin-bottom: 30px;
}

.montonio-menu {
    ul {
        display: flex;
        flex-direction: column;
        gap: 8px 10px;
        margin: 0;
        padding: 0;

        @media only screen and (max-width: 1240px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        li {
            display: flex;
            align-items: center;
            margin: 0;

            a {
                width: 100%;
                margin: 0;
                padding: 7px 8px;
                font-weight: 500;
                text-decoration: none;
                color: #1b1b1b;
            }

            &.active {
                background: #f0ebff;
                border-radius: 4px;
                
                a {
                    color: #260071;
                }
            }

            .montonio-status {
                display: inline-block;
                padding: 4px 8px;
                font-weight: 400;
                margin-left: 5px;
                font-size: 12px;
                line-height: 1;
                border-radius: 90px;

                &--live {
                    background-color: #edfbec;
                    color: #20b01b;
                }

                &--sandbox {
                    background-color: #fff6da;
                    color: #bf8b00;
                }

                @media only screen and (max-width: 1240px) {
                    padding: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;

                    &__text {
                        display: none;
                    }

                    &--live {
                        background-color: #6DD06A;
                    }

                    &--sandbox {
                        background-color: #FFD460;
                    }
                }
            }
        }
    }
}

.montonio-options-title {
    margin-bottom: 10px !important;
}

.montonio-options {
    background: #fff;
    color: #1b1b1b;
    padding: 40px;
    border-radius: 24px;

    @media only screen and (max-width: 1240px) {
        padding: 40px 20px;
    }

    a {
        color: #260071;
        text-decoration: none;

        &:hover {
            color: #5c14eb;
        }
    }

    input[type=text],
    input[type=password] {
        padding: 4px 10px !important;
        background-color: #fff;
        border: 1px solid #ADADB0;
        border-radius: 4px;
    }    
    
    textarea{
        padding: 4px 10px !important;
        background-color: #fff;
        border: 1px solid #ADADB0;
        border-radius: 4px;
    }

    select {
        border-color: #ADADB0 !important;
        line-height: 36px !important;
        border-radius: 4px;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: #ADADB0 !important;

        .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-selection__arrow {
            height: 36px !important;
        }
    }

    h3.wc-settings-sub-title {
        font-size: 1.2em;
        margin: 7px 0 6px;
    }

    &__container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        gap: 40px;

        @media only screen and (max-width: 1240px) {
            flex-direction: column;
        }
    }

    .montonio-header {
        min-width: 210px;
    }

    .montonio-card {
        background: #fff;
        border: 1px solid #E1DDDB;
        margin-bottom: 30px;
        border-radius: 6px;

        &:last-child {
            margin-bottom: 10px;
        }

        h4 {
            margin-top: 0;
        }

        &__body {
            padding: 16px 24px;

            p {
                margin: 0;
            }
        }

        &__footer {
            padding: 16px 24px;
            border-top: 1px solid #E1DDDB;
        }

        &--notice {
            border: none;
        }

        &--icon {
            .montonio-card__body {
                display: flex;
                gap: 10px;    
            }
        }

        &--blue {
            background: #E7EFFF;

            strong {
                color: #0A4DDE;
            }
        }

        &--yellow {
            background: #fff6da;

            strong {
                color: #e3a500;
            }
        }

        &--red {
            background: #ffebeb;

            strong {
                color: #ce0920;
            }
        }

        .description {
            font-size: 12px;
            margin-top: 5px;
        }

        #woocommerce_wc_montonio_api_live_title {
            margin-top: 20px;
            margin-bottom: 0;
            font-size: 19px;
            line-height: 1.6;
            background: #F0EEFB;
            border: 1px solid #D6D1F8;
            border-bottom: none;
            color: #0F1A2A;
            border-bottom: 0;
            margin-bottom: 0;
            padding: 15px 10px 0 20px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            
            + p {
                background: #F0EEFB;
                color: #0F1A2A;
                border: 1px solid #D6D1F8;
                border-bottom: 0;
                border-top: 0;
                padding: 2px 10px 20px 20px;
                font-size: 14px;
                
                + .form-table {
                    display: block;
                    background: #F0EEFB;
                    color: #0F1A2A;
                    border: 1px solid #D6D1F8;
                    padding: 5px 20px 10px 20px;
                    margin: 0 0 30px;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;

                    label {
                        font-size: 13px;
                        color: #0F1A2A;
                    }

                    input {
                        border-color: #ADADB0;
                    }

                    @media only screen and (max-width: 782px) {
                        tbody {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }

        #woocommerce_wc_montonio_api_sanbox_title {
            margin-top: 35px;
            margin-bottom: 7px;
            font-size: 14px;
            text-transform: uppercase;
        }

        #woocommerce_wc_montonio_api_general_title {
            border-top: 1px solid #E1DDDB;
            padding-top: 30px;
            margin-top: 1.7em;
        }
    }

    .montonio-api-status {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px 15px;

        p {
            margin: 0;
        }

        .dashicons {
            margin-right: 5px;
        }

        .api-status {
            font-size: 12px;
            line-height: 1;
            background-color: #f8f6f4;
            color: #3c3c3c;
            padding: 3px 8px;
            border-radius: 50px;

            &--red {
                background-color: #ffebeb;
                color: #e9283f;
            }            
            
            &--green {
                background-color: #edfbec;
                color: #20b01b;
            }
        }
    }

    .submit {
        margin: 0;
        padding: 0;
    }

    ~ p.submit {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 8px;
        max-width: 1000px !important;
        margin: 0 auto;
    }
}

.montonio-shipping-panel {
        max-width: 500px;
        position: relative;
        margin-bottom: 10px;
        clear: both;
        container-type: inline-size;
        container-name: montonio-shipping-panel;

        &__body {
            padding: 17px 20px 18px;
            background-color: #fff;
            background: #fff;
            border: 1px solid #E2E8F0;
            color: #1b1b1b;
            border-radius: 6px;
            box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
        }

        h4 {
            color: #777 !important;
            font-weight: normal;
            margin: 0 0 2px !important;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px 15px;
            border-bottom: 1px dashed #E1DDDB;
            padding-bottom: 10px;
            margin-bottom: 20px;

            &-content {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        &__title {
            font-size: 14px;
            line-height: 16px;
            color: #1b1b1b !important;
            margin: 0 !important;
            text-transform: capitalize;

            span {
                display: block;
                color: #3c3c3c;
                font-size: 12px;
                font-weight: normal;
            }
        }

        &__logo {
            max-height: 30px !important;
            max-width: 80px !important;
            display: inline-block !important;
        }

        &__notice {
            background: #e7efff;
            padding: 14px 16px;
            overflow-wrap: break-word;
            border-radius: 6px;

            strong {
                color: #0A4DDE;
            }

            &--yellow {
                background: #fff6da;
                border-color: #fad791;
                color: #1b1b1b;

                strong {
                    color: #e3a500;
                }
            }

            &--red {
                background: #ffebeb;

                strong {
                    color: #ce0920;
                }
            }

            p {
                color: inherit !important;
                margin: 0;
            }
        }

        &__row {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #1b1b1b;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    color: #5c14eb;
                }
            }
        }

        &__blocker {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(1px);
            border-radius: 6px;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear 0.3s, opacity 0.3s linear;
        }

        &--loading {
            .montonio-shipping-panel__blocker {
                opacity: 1;
                visibility: visible;
                transition: visibility 0s linear 0s, opacity 0.3s linear;
            }
        }

        &__actions {
            display: flex;
            gap: 10px;
            margin-top: 20px;
            flex-wrap: wrap;
        }
    
}

@container montonio-shipping-panel (max-width: 340px) {
    .montonio-shipping-panel__actions {
        .montonio-button {
            width: 100%;
        }
    }
}

label[for*=montonio_shipping_sender] {
    &::after {
        content: '*';
        color: #E9283F;
    }
}

.montonio-notice {
    &__content{
        padding: 20px 10px;
        font-size: 14px;

        img {
            width: 140px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 15px;
            margin: 0 0 5px 0;
        }

        p {
            font-size: inherit;
            margin: 0 0 15px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .action-required + .action-required {
            margin-top: 5px;
        }
    }
}

.order-status.status-mon-label-printed {
    background: #D6D1F8;
    color: #442DD2;
}

.montonio-admin-pickup-point-country-select,
.montonio-admin-pickup-point-select,
.montonio_carrier_country {
    width: 100% !important;
    margin: 0 0 0.5em;
}

.montonio-banner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.woocommerce-admin-page #wpcontent .montonio-banner-wrapper {
    padding-left: 20px;
}

.woocommerce-admin-page #wpcontent #wpadminbar + .montonio-banner-wrapper {
    margin-top: 90px;
}

.montonio-options-loader {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
    margin-left: 8px;
    padding: 8px 15px 8px 10px;
    background: #fff;
    color: #260071;
    border-radius: 5px;

    &::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22loader-1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2240px%22%20%20height%3D%2240px%22%20viewBox%3D%220%200%2050%2050%22%20style%3D%22enable-background%3Anew%200%200%2050%2050%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23442DD2%22%20d%3D%22M43.935%2C25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318%2C0-18.683%2C8.365-18.683%2C18.683h4.068c0-8.071%2C6.543-14.615%2C14.615-14.615c8.072%2C0%2C14.615%2C6.543%2C14.615%2C14.615H43.935z%22%3E%3CanimateTransform%20attributeType%3D%22xml%22%0A%20%20%20%20%20%20%20%20%20attributeName%3D%22transform%22%0A%20%20%20%20%20%20%20%20%20type%3D%22rotate%22%0A%20%20%20%20%20%20%20%20%20from%3D%220%2025%2025%22%0A%20%20%20%20%20%20%20%20%20to%3D%22360%2025%2025%22%0A%20%20%20%20%20%20%20%20%20dur%3D%220.6s%22%0A%20%20%20%20%20%20%20%20%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.montonio-shipping-panel__status {
    font-size: 13px;
    line-height: 1;
    font-weight: normal;
    padding: 5px 8px;
    border-radius: 40px;
    display: inline-block;    
    background-color: #f8f6f4;
    color: #3c3c3c;
}

.order-status.montonio-shippment-status,
.montonio-shipping-panel__status {
    &--registered {
        background-color: #e7efff;
        color: #2366f9;
    }

    &--creationFailed,
    &--registrationFailed {
        background-color: #ffebeb;
        color: #e9283f;
    }    
    
    &--labelPrinted {
        background-color: #f0ebff;
        color: #260071;
    }    
    
    &--inTransit,
    &--awaitingCollection {
        background-color: #fff6da;
        color: #bf8b00;
    }    
    
    &--delivered {
        background-color: #edfbec;
        color: #20b01b;
    }
}

.wc-action-button-montonio_print_label {
    background: #260071 !important;
    border-color: #260071 !important;
    color: #fff !important;

    &:hover {
        background: #5c14eb !important;
        border-color: #5c14eb !important;
    }

    &::after {
        font-family: Dashicons;
        content: "\f193" !important;
    }
}